# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/morph-gateway
/server
registry_store.json

# Test binaries
*.test
*.out

# Design Documents
Design.md
Implementation.md
*.pdf

# Ignore test files
*_test.go

# Testing artifacts
testing_files/
