# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
morph-gateway
server

# Test binaries
*.test
*.out

# Design Documents
Design.md
Implementation.md
*.pdf

# Ignore test files
*_test.go

# Testing artifacts
testing_files/
